[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/trezor-common"]
	path = external/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "external/randomx"]
	path = external/randomx
	url = https://github.com/tevador/RandomX
[submodule "external/supercop"]
	path = external/supercop
	url = https://github.com/monero-project/supercop
	branch = monero
[submodule "external/mx25519"]
	path = external/mx25519
	url = https://github.com/tevador/mx25519
[submodule "external/full-chain-membership-proofs"]
	path = external/full-chain-membership-proofs
	url = https://github.com/j-berman/full-chain-membership-proofs.git
	branch = cpp-compat-ed25519
